db.options:
    driver: pdo_mysql
    host: localhost
    dbname: your_db_name
    user: your_db_user
    password: your_db_password
    charset: utf8
    driverOptions:
         1002: SET NAMES utf8
